<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Bahman Eslami</string>
	<key>developerURL</key>
	<string>http://bahman.design</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>installFontGadgets.py</string>
	<key>name</key>
	<string>fontgadgets</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1665590985.5009432</real>
	<key>version</key>
	<string>0.2.2.7</string>
</dict>
</plist>
